.lw {
   font-size: 60px;
  }
  
  body {
   background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/2909_vallon_moy_res.jpg/1024px-2909_vallon_moy_res.jpg') no-repeat center fixed;
   background-size: cover;
  }
  
  textarea {
   background-color: transparent;
   text-align: center;
  }
  
  canvas {
   background-color: rgba(200, 200, 200, 0.5);
   text-align: center;
   outline: rgba(0, 0, 0, 0.5) solid;
  }
  
  button {
   background-color: Transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   overflow: hidden;
   outline: none;
  }
  
  input[type="file"] {
   border-width: 2px;
   border-style: outset;
   border-color: buttonface;
   border-image: initial;
   background-color: buttonface;
   display: inline-block;
   font-size: 10px;
   margin: 0;
   position: relative;
   overflow: hidden;
   width: 30%;
   -webkit-appearance: none;
  }
  
  input[type="file"]:after {
   border-width: 2px;
   border-style: outset;
   border-color: buttonface;
   border-image: initial;
   background-color: buttonface;
   content: '';
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
  }
  
  input[type="file"]::-webkit-file-upload-button {
   border-width: 2px;
   border-style: outset;
   border-color: buttonface;
   border-image: initial;
   background-color: buttonface;
   color: #000000;
   font: Arial Black;
   padding: 0;
   position: relative;
   border: none;
   text-align: center;
   z-index: 1;
  }
  
  input::-webkit-input-placeholder {
   color: #000000;
  }
  
  optgroup {
   font-size: 12px;
  }
  
  textarea::-webkit-input-placeholder {
   color: #000000;
  }
#menubar {
   position: absolute; 
   left: 0%; 
   bottom: 0%; 
   outline: rgba(0, 0, 0, 0.5) solid; 
   background-color: rgba(0, 0, 0, 0.5); 
   width: 100%; 
   height: 5vh;
}